In [2]:
import pandas as pd
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
#from config import conn_params as cp

In [3]:
# Create a database engine using this string format:
# dialect+driver://username:password@host:port/database
# https://docs.sqlalchemy.org/en/14/core/engines.html

##could not get it to work with config file but got it to work this. 
##Have to re-configure later when I can get help.

dialect = 'postgresql'
username = 'postgres'
password = 'bootcamp2021'
host = 'bootcamp-final-cln.ch1wrcuq3max.us-east-2.rds.amazonaws.com'
database = 'crime'
engine = create_engine(f'{dialect}://{username}:{password}@{host}/{database}')

In [5]:
# If your file is small enough, you can load it directly into a pandas dataframe
# If it is larger, you will need to use a pyspark dataframe (see activities from Week 16 Class 1)
df = pd.read_csv('Resources/Crimes_Against_Property_Offenses_Offense_Category_by_State_2020.csv')

In [6]:
df.head()

,State,Number of\nParticipating\nAgencies,Population\nCovered,Arson,Bribery,Burglary/\nBreaking\n& Entering,Counterfeiting/\nForgery,Destruction/\nDamage/\nVandalism,Embezzlement,Extortion/\nBlackmail,Fraud\nOffenses,Larceny/\nTheft\nOffenses,Motor\nVehicle\nTheft,Robbery,Stolen\nProperty\nOffenses
0,Alabama,131,"715,130",34,0,910,186,"1,375",40,13,820,"3,840",541,66,156
1,Arizona,22,"1,769,207",186,1,"4,404",567,"8,390",147,113,"6,778","23,063","2,611",720,304
2,Arkansas,281,"2,818,360",556,1,"14,994","3,868","26,063",77,47,"23,636","54,991","7,355","1,440","2,481"
3,Colorado,225,"5,754,151","1,329",156,"22,539","3,910","48,987",313,751,"29,769","112,828","30,179","3,958","2,904"
4,Connecticut,105,"3,488,526",159,3,"5,897","1,356","14,435",214,164,"8,575","37,125","7,295","1,695","1,279"

In [7]:
with engine.connect() as conn:
    df.to_sql('crime', conn)